extends layout

block content
  h1 Classe de nivel #{classe.nivel}
  table
      thead
          tr
              th Codigo
              th Titulo
              th Descricao
              th Status
      tbody
            tr
                td=classe.codigo
                td=classe.titulo
                td=classe.descricao
                td=classe.status
  if (classe.filhos.length > 0)
    h2 Descendencia:
    table
      thead
          tr
              th Codigo
              th Titulo
              th Descricao
              th Status
      tbody
            for f in classe.filhos
                tr
                    td 
                        a(href="/classes/c" + f.codigo)= f.codigo
                    td=f.titulo
                    td=f.descricao
                    td=f.status
  a(href=('/'))
    p Voltar Home